[submodule "submodules/catkin"]
	path = submodules/catkin
	url = https://github.com/kgeorgiev93/catkin
	branch = hunter-0.7.17
[submodule "submodules/ros_environment"]
	path = submodules/ros_environment
	url = https://github.com/kgeorgiev93/ros_environment
	branch = hunter-1.2.1
[submodule "submodules/rospack"]
	path = submodules/rospack
	url = https://github.com/kgeorgiev93/rospack
	branch = hunter-2.5.3
